body{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

/* navbar css starts here  */
.bg-light{
    background-color: #070707!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #ffffff!important;
}

.nav-link{
    color: #ffffff!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #f3f1f1;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(68, 0, 255)!important;
    color: rgb(255, 255, 255)!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(67, 83, 230)!important;
}